body {
	background-color: rgb(250,248,243);
    color: white;
}

a {
    color: #b59a57;
}

a:hover {
    color: #b59a57;
    text-decoration: underline;
}

#navbar {
    margin-left: -10px;
    background-color: #b59a57;
    color: white;
}

#navbar a {
    color: white;
    font-size: 16px;
    border-right: 1px solid #c8b075;
}

#navbar a:hover {
    background-color: #a0884d;
}


.header {
    background-color: black;
    font-size: 18px;
}

.header a {
    padding: 10px;
}

.header img {
    padding: 10px;
}

.userLinks {
    margin-right: 20px; 
    margin-top: 5px;
}


/* Search bar */
.searchForm {
    background-color: black;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
}

.searchBox {
    background-color: #414141;
    border: none; 
    color: white;
}

.searchButton {
    padding: 5px 10px 5px 10px;
}

.stylish-input-group .input-group-addon {
    background: #a0884d !important; 
    border: none;
}

.stylish-input-group button {
    border: none;
    background: #a0884d;
}

